.allIngredientsSection {
    margin-top:  min(80px, 7.5vh);
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("/images/cartoon-cooking-background.jpg");
}
.allIngredientsMainCntr {
    width: min(100%, 1200px);
    background: rgb(255, 255, 255, 0.93);
}
.ingredientsTitle {
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 3.5rem);
    font-family: var(--font-fam-2);
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.ingredientsHeaderText {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    background-color: rgb(196, 196, 196);
    gap: 5px;
    padding: 5px 20px;
    border-radius: 5px;
}
.ingredientsHeaderText span {
    font-size: clamp(0.9rem, 1.3vw, 1rem);
    font-family: var(--font-fam-3);
    font-weight: 600;
}
.ingredientsBodyCntr {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 600px;
    overflow-y: scroll;
}
.ingredientCntr {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 5px;
    padding: 3px 20px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
}
.ingredientCntr span {
    font-size: clamp(0.9rem, 1.3vw, 1rem);
    font-family: var(--font-fam-3);
}
.ingredientsNameBody {
    font-weight: 700;
}
/*========================= MEDIA QUERY ========================*/
@media only screen and (max-width: 600px) {
    .ingredientCntr {
        grid-template-columns: 0.9fr 0.9fr 1.2fr;
    }
    .ingredientsHeaderText {
        grid-template-columns: 0.9fr 0.9fr 1.2fr;
    }
  }