.recipeSection {
    width: 100%;
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: min(80px, 7.5vh);;
}
.recipeMainCntr {
    width: min(1400px, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}
.recipeSectionTitle {
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 3.5rem);
    font-family: var(--font-fam-2);
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.sortAndSearchCntr {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgb(196, 196, 196);
}
.sortTimeCntr,  .sortMainIngredientCntr {
    font-size: clamp(0.9rem, 1.3vw, 1rem);
    font-family: var(--font-fam-3);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}
.optionsMainIngredients, .optionsTime{
    font-size: clamp(0.9rem, 1.3vw, 0.9rem);
    padding: 3px;
    border-radius: 5px;
    font-family: var(--font-fam-3);
    font-weight: 400;
}
.allDishesCntr {
    column-gap: 10px;
    row-gap: 20px;
    padding: 30px 10px;
    display: flex;
    min-height: 600px;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    background: rgb(230, 230, 230);
    border-radius: 5px;
}
.noDishTxt {
    font-size: clamp(2rem, 3vw, 5rem);
    font-family: var(--font-fam-3);
    color: rgb(155, 155, 155);
}
.dishCntr {
    width: 230px;
    height: 230px;
    position: relative;
    transition: 0.2s all linear;        
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.25);
    background: white;
}
.dishCntr:hover .dishButtonCntr {
    display: flex;
    transition: 0.2s all linear;
}
.dishImgCntrDish {
    width: 100%;
    height: 85%;
    position: relative;
}
.dishImgCntrDish img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dishName {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: absolute;
    font-family: var(--font-fam-5);
    font-weight: 500;
    height: 15%;
}
.dishButtonCntr {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.4);
    display: none;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dishButtonCntr button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font-fam-3);
    font-weight: 500;
    background: white;
    transition: 0.4s all ease-in-out;
}
.dishButtonCntr button:hover {
    background: var(--fifth-color);
    color: white;
    border: 1px solid var(--fifth-color);
}
.dishRecipeCntr {
    width: min(1200px, 90vw);
    position: absolute;
    height: min(600px, 80vh);
    background-color: rgb(245, 245, 245);
    top: 150px;
    display: flex;
    z-index: 10;
}
.shadowCntr {
    width: 100%;
    position: fixed;
    display: flex;
    height: 100%;
    border: none;
    background: rgb(0, 0, 0, 0.5);
    z-index: 1;
}
.closeBtn{
    background: none;
    border: none;
    font-size: 2.5rem;
    transition: 0.2s all linear;
    position: absolute;
    top: 10px;
    right: 10px;
}
.closeBtn:hover {
    color: var(--fifth-color);
}
.recipeImageCntr {
    width: 50%;
    height: 100%;
    position: relative;
}
.recipeImageCntr::after {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right,rgba(245,245,245,0), rgba(245,245,245,1));
    z-index: 11;
}
.recipeImageCntr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recipeListCntr {
    width: 50%;
    padding: 20px 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: var(--font-fam-3);
}
.recipeDishName {
    font-size: clamp(1.3rem, 3vw, 2.2rem);
    font-family: var(--font-fam-2);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
}
.cookingTimeTxt {
    background: var(--third-color);
    padding: 3px;
    font-size: clamp(0.8rem, 1.3vw, 0.85rem);
    font-family: var(--font-fam-3);
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    color: white;
}
.recipeTxt, .ingredientsTxt {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: var(--font-fam-3);
    font-weight: 500;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    padding: 5px 5px 5px 25px;
}
.recipeIngredients, .recipeSteps {
    list-style-type: none;
}
.recipeSteps, .recipeIngredients {
    font-size: clamp(0.85rem, 1.5vw, 1rem);

}
/*==================== MEDIA QUERY ====================*/
@media only screen and (max-width: 750px) {
    .recipeSection {
        padding: 5px 0px;
    }
    .recipeMainCntr {
        padding: 5px 0px;
    }
    .dishCntr {
        width: 200px;
        height: 200px;
    }
    .dishImgCntrDish {
        height: 100%;
    }
    .dishName {
        position: absolute;
        bottom: 0;
        height: 25%;
        color: white;
        text-align: center;
        background: linear-gradient(to top, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.0));
    }
}
@media only screen and (max-width: 660px) {
    .dishCntr {
        width: 150px;
        height: 150px;
    }
    .sortAndSearchCntr {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
}
@media only screen and (max-width: 500px) {
    .dishRecipeCntr {
        height: min(650px, 80vh);
    }
    .recipeImageCntr::after {
        width: 0%;
    }
    .recipeImageCntr {
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    .recipeListCntr {
        color: white;
        width: 100%;
        padding: 20px;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .recipeDishName {
        background: rgba(0,0,0,0.4);
        border-radius: 5px;
        font-weight: 900;
    }
    .recipeTxt, .ingredientsTxt {
        font-weight: 700;
        background: rgba(0,0,0,0.4);
        border-radius: 5px;
    }
    .recipeSteps, .recipeIngredients {
        background: rgba(0,0,0,0.4);
        border-radius: 5px;
        padding: 5px 5px 5px 20px;
    }
}
@media only screen and (max-width: 350px) {
    .dishCntr {
        width: 120px;
        height: 120px;
    }
    .dishName {
        font-size: 10px;
    }
}