footer {
    padding: 50px 20px;
    width: 100%;
    background: var(--primary-color);
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border-top: 5px solid var(--third-color);
}
.coloredText {
    color: var(--fifth-color);
}
.footerFirstColumn {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.footerContact {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    padding: 5px;
}
.followUs, .ourSites {
    font-size: clamp(2rem, 3vw, 2.7rem);
    font-family: var(--font-fam-3);
}
.contactIconCntr {
    display: flex;
    gap: 20px;
}
.footerSubscribe {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 5px;
}
.icons {
    font-size: 1.8rem;
    color: white;
    transition: 0.2s all linear;
}
.icons:hover {
    color: var(--secondary-color);
}
.subscribeCntr {
    display: flex;
    width: 100%;
    gap: 10px;
}
.emailInput {
    padding: 15px 15px 15px 25px;
    background: none;
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
    color: white;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
}
.emailInput:focus {
    outline: none;
}
.submitBtn {
    padding: 10px 20px;
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
    letter-spacing: 2px;
    font-family: var(--font-fam-3);
    font-weight: 600;
    border: none;
    transition: 0.2s all linear;
}
.submitBtn:hover {
    background: var(--secondary-color);
    color: white;
    padding: 10px 25px;
}
.footerSubscribe span {
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
    font-family: var(--font-fam-3);
    width: 80%;
}
.footerOtherSites {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    padding: 5px;
}
.footerOtherSites ul li {
    list-style: none;
    padding: 5px 0px;
}
.footerOtherSites ul li a {
    text-decoration: none;
    color: white;
    font-family: var(--font-fam-5);
    transition: 0.2s all linear;
}
.footerOtherSites ul li a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}
.footerSecondColumn {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.copyright {
    font-size: 1.1rem;
    font-family: var(--font-fam-3);
}
.copyright a {
    color: white;
    transition: 0.2s all linear;
}
.copyright a:hover {
    color: var(--secondary-color);
}
/*==================== MEDIA QUERIES ====================*/
@media only screen and (max-width: 800px) {
    .footerFirstColumn {
        flex-direction: column;
        align-items: start;
    }
}
