.historySection {
    display: flex;
    justify-content: center;
    padding: 40px 10px;
}
    .historySecCntr {
        width: min(1700px, 100%);
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch; /* Change this to stretch */
        align-content: center;
    }
    .historySecCntr div {
        padding: 10px;
        border-radius: 5px;
        box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
        width: min(400px, 100%);
    }
.historyTitle {
    font-size: var(--font-subheading-size);
    font-family: var(--font-subheading);
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}
.historyTitle::before {
    content: "";
    width: 40px;
    height: 40px;
    background: var(--secondary-color);
    position: absolute;
    z-index: -1;
    top: -20px;
    left: 5%;
    border-radius: 20px;
}
.historyTitle::after {
    content: "";
    width: 60px;
    height: 60px;
    background: var(--fourth-color);
    position: absolute;
    z-index: -1;
    top: 0px;
    z-index: -2;
    left: -20px;
    border-radius: 30px;
}
.historyDescSpan {
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    font-weight: 400;
    letter-spacing: 1px;
}
/*================  MEDIA QUERIES ================*/
@media only screen and (max-width: 800px) {
    .historySecCntr  {
        flex-direction: column;
    }
    .historySection {
        padding: 40px 20px;
    }
}