.historySection {
    display: flex;
    justify-content: center;
    padding: 40px 10px;
}
.historySecCntr {
    width: min(1200px, 100%);
    display: flex;
    gap: 20px;
}
.historySecCntr div {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
}
.historyTitle {
    font-size: clamp(1.3rem, 1.5vw, 2rem);
    font-family: var(--font-fam-1);
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}
.historyTitle::before {
    content: "";
    width: 40px;
    height: 40px;
    background: var(--secondary-color);
    position: absolute;
    z-index: -1;
    top: -20px;
    left: 5%;
    border-radius: 20px;
}
.historyTitle::after {
    content: "";
    width: 60px;
    height: 60px;
    background: var(--fourth-color);
    position: absolute;
    z-index: -1;
    top: 0px;
    z-index: -2;
    left: -20px;
    border-radius: 30px;
}
.historyDescSpan {
    font-size: clamp(0.9rem, 1.3vw, 1rem);
    font-family: var(--font-fam-3);
    font-weight: 320;
}
/*================  MEDIA QUERIES ================*/
@media only screen and (max-width: 800px) {
    .historySecCntr  {
        flex-direction: column;
    }
    .historySection {
        padding: 40px 20px;
    }
}