.landingSection {
    margin-top: min(80px, 7.5vh);
    width: 100%;
    display: flex;
    justify-content: center;
    background: #f6f6f6;
}
.landingSectionCntr {
    width: min(100%, 1200px);
    min-height: min(100vh, 600px);
    padding: 20px;
    position: relative;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}
.landingSecImgCntr {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--third-color);
    border-radius: 20px;
    overflow: hidden;
}
.fillipinoFoodImg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s all linear;
    width: 100%;
}
.fillipinoFoodImg::before {
    content: "";
    width: 15%;
    position: absolute;
    height: 100%;
    left: 0%;
    background: green;
}
.landingTextAndBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.tasteOfPhilippinesTxt {
    font-size: clamp(2.3rem, 3vw, 4rem);
    font-family: var(--font-fam-4);
}
.qoute {
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    font-family: var(--font-fam-3);
}
.cookBtn {
    padding: 20px;
    text-transform: uppercase;
    border: none;
    font-family: var(--font-fam-1);
    background: var(--secondary-color);
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-top: 20px;
    transition: 0.2s all linear;
    text-decoration: none;
}
.cookBtn:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 10px;
}
/*====================== MEDIA QUERIES ======================*/
@media only screen and (max-width: 800px) {
    .landingTextAndBtn {
        z-index: 1;
    }
    .landingSecImgCntr {
        position: absolute;
        border-radius: 0px;
        background: white;
    }
    .fillipinoFoodImg {
        filter: brightness(65%);
        position: relative;
        object-fit: cover;
    }
    .tasteOfPhilippinesTxt {
        line-height: 2.2rem;
    }
    .qoute, .tasteOfPhilippinesTxt {
        text-align: center;
    }
    .landingTextAndBtn {
        color: white;
    }
    .cookBtn {
        padding: 10px;
    }
}