nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(80px, 7.5vh);
    background: var(--fifth-color);
    z-index: 18;
    position: fixed;
    top: 0;
}
.navMainCntr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: min(90%, 1500px);
    height: 100%;
}
.logoCntr {
  height: 100%;
  min-width: 50px;
}
.logoCntr img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.navlinksCntr {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navLinksA {
    height: 100%;
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-family: var(--font-fam-4);
    font-weight: 600;
    color: black;
    transition: 0.5s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    z-index: 3;
}
.navLinksA.active {
    background: #1e212b;
    color: ghostwhite;
  }
.navLinksA:hover {
    color: ghostwhite;
}
.navLinksA::before {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    position: absolute;
    top: 0%;
    transition: 0.5s all ease;
    z-index: -1;
}
.navLinksA:hover::before {
    height: 100%; 
}
.navButtons {
    padding: 5px;
}
.linksMenu {
    background: none;
    border-radius: 5px;
    border: 3px solid var(--primary-color);
    padding: 5px;
}
.navButtons {
    display: none;
}
.navBtnSvgEllipsis, .navBtnSvgX {
 font-size: 2rem;
}
.navBtnSvgEllipsis {
    display: initial; /* This can be adjusted based on the default display type */
  }
  
  .navBtnSvgX {
    display: initial; /* This can be adjusted based on the default display type */
  }
  
  .hidden {
    display: none;
  }
  
/*====================== MEDIA QUERIES ======================*/
@media only screen and (max-width: 800px) {
    .navlinksCntr {
        flex-direction: column;
        gap: 10px;
        background: white;
        z-index: 100;
        height: calc(100vh - min(80px, 7.5vh));
        position: fixed;
        bottom: 0%;
        right: 0%;
        padding: 50px 100px;
        justify-content: start;
        box-shadow: -6px 1px 9px 0px rgba(0,0,0,0.40);
        transition: 0.2s all linear;
    }
    .navLinksA {
        width: 100%;
        height: 40px;
    }
    .navButtons {
        display: flex;
    }
}