.promotionSection {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    overflow: visible;
}
.promotionMainCntr {
    width: min(100%, 1200px);
    min-height: min(120vh, 1000px);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.promotionTxt {
    font-size: clamp(1rem, 1.5vw, 1.4rem);
    align-items: center;
    text-align: center;
    padding: 5px;
    align-content: center;
    color: white;
    font-family: var(--font-fam-4);
    background: var(--primary-color);
}
.promotionTxt:nth-of-type(4) {
    background: var(--third-color); 
}
.promHighlightTxt {
    color:  var(--fifth-color);
}
.promotionImg {
    position: relative;
}
.promotionImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
